<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>YelpTrip</title>

  <form action="{{ url_for('search') }}" method="POST">
    <input type="text" name="search" placeholder="category 1, category 2, ...">
    <input type="text" name="search_distance" placeholder="max miles in between...">
    <input type="text" name="search_location" placeholder="location...">
    <input type="submit" name="submit">
  </form>


</head>

<body>
<pre>{{ search_response }}</pre>
</body>
</html>