<!doctype html>

<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta charset="utf-8">

  <title>YelpTrip</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='bg.jpg') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
{% block body %} {% endblock %}
</body>
</html>