{% extends "base.html" %}
{% block body %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="box page">
        <div class="tabs is-centered is-toggle">
          <ul>
            {% for tab in tabs %}
            <li id="tab-{{ loop.index }}"><a>{{ tab }}</a></li>
            {% endfor %}
            <li id="tab-results"><a>Results</a></li>
          </ul>
        </div>
        <div class="choices">
          {% for n in range(searchLimit) %}
          <div class="box choice">
            <a class="option-link"></a>
            <a class="button select-button" id="{{ loop.index }}">Select</a>
          </div>
          {% endfor %}
        </div>
        <div class="results-page is-hidden">
          <ol class="result-list">
            {% for n in tabs %}
            <li>
              <a class="result"></a>
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<script id="clusters" type="text/javascript">
  var clusterJSON = {{ clusterJSON | safe }};

</script>
<script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}